.logo {
    width: 100px;
    height: 40px;
    display: block;
    // background-color: red;
    position: absolute;
    top: 8px;
    left: 8px;
    background: url('http://jasonrighelato.net/header/build/images/bear-grylls-black.png') center center no-repeat;
    background-size: cover;
    // padding: .5rem;
}